html, body {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: sans-serif;
    background-color: #2b2b2b;
}

a {
    text-decoration: none;
    color: whitesmoke;    
}

.final-link {
    padding-top: 25px;
    padding-bottom: 50px;
}

ul {
    margin-top: 0px;
    list-style: none;
    text-align: left;
    padding-left: 0;
}

.head-base {
    height: 100px;
    text-align: center;
    color: white;
}


.main {
    text-align: center;
}


.options {
    text-align: center;
    height: 100px;
}


.user-data {
    color: #2b2b2b;
    background-color: whitesmoke;
    margin: 0 50px;
    width: 400px;
}

.main-register-list {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    margin: 0 50px;
    background-color: #797979;
}

.user-data-list {
    margin: 0 50px 15px 50px;    
    background-color: #797979;
    color: whitesmoke;
    padding-bottom: 5px;
}

.user-data-list ul {
    padding-left: 50px;
    padding-right: 50px;
    border-bottom: 10px; 
    border-color: black;
}

.user-data-list li{
    display: inline-block;
    padding-right: 30px;
    line-height: 20px;
    margin: 0;

    transition: 1s;
}

.reg-form {    
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 25px;
    color: whitesmoke;
}


.btn-save {
    text-align: center;
    color:black;
    padding-bottom: 10px;

    transition: 0.5s;
}

.btn:hover {
    background-color: rgb(100, 100, 100);
    color:aliceblue;

    transition: 0.5s;
}
