{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <title> {% block title %} {% endblock %} </title>
        <link href="{% static 'css/manager.css' %}" rel="stylesheet">
        <meta charset="utf-8">
    </head>
    <body>
        <header class='head-base'>
            <h1>CVD User Registration System</h1>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>

</html>