{% extends "manager/base.html" %}

{% block title %} Registration Confirm {% endblock %}

{% block content %}

    <div style="color: whitesmoke;" class="options">
        <p>User register successfully!</p>
    </div>

    <div class="final-link">
        <a href= {% url 'manager:initial-view' %}> Home </a>
    </div>

{% endblock %}