{% extends "manager/base.html" %}

{% block title %} Registration Option {% endblock %}

{% block content %}

    <div class="options">
        <form method="POST" action= {% url 'manager:user-registration' %}> 
            {% csrf_token %}
            <input type="submit" value="Register a new user">            
        </form>              
        <br>
        <form method="POST" action= {% url 'manager:registration-list' %}>
            {% csrf_token %}
            <input type="submit" value="List all users">            
        </form>
    </div>

{% endblock %}