{% extends "manager/base.html" %}

{% block title %}Registration List{% endblock %}


{% block content %}    
    {% if latest_registration_list %}
        <ul class='main-register-list'>
        {%for reg in latest_registration_list %}
            <li>
                <div class="user-data-list">
                    <ul>
                        <li>Nome: {{ reg.name }}</li>
                        <li>CPF: {{ reg.cpf }}</li>
                        <li>Etapa: {{ reg.stage }}</li>
                        <hr>
                    </ul>
                </div>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No registers are available.</p>
    {% endif %}

    <div class="final-link">
        <a href= {% url 'manager:initial-view' %}> Home </a>
    </div>
{% endblock %}