{% extends "manager/base.html" %}

{% block title %} Registration {% endblock %}

{% block content %}
    <div class="reg-form">
        <h2>User Registration</h2>
        <form method="POST" class="user-data post-form">{% csrf_token %}
            {{ form.as_p }}
            <div class="btn-save">
                <button type="submit" class="save btn btn-default">Save</button>
            </div>
        </form>
    </div>

    <div class="final-link">
        <a href= {% url 'manager:initial-view' %}> Home </a>
    </div>

{% endblock %}